---
import { startups } from "../../../data/Startups";
import StartupCard from "../../StartupCard.astro";

const LOOP_COUNT = 3;
---

<section
  id="startups"
  class="flex flex-col gap-4 rounded-xl bg-secondary/20 py-6"
  aria-labelledby="startups-heading"
>
  <h3 id="startups-heading" class="text-secondary px-6">
    ¿QUE HABRÁ EN EL EVENTO?
  </h3>

  <div>
      {
        Array.from({ length: LOOP_COUNT }, (_, loopIndex) =>
          startups.map((startup) => (
            <div
              class="shrink-0"
              data-startup-slide
              aria-hidden={loopIndex > 0 ? true : undefined}
            >
              <StartupCard startup={startup} />
            </div>
          )),
        )
      }
  </div>
</section>
