---
import Button from "../../inputs/Button.astro";
import QuintaSanArturoII from "../../../assets/images/QuintaSanArturoII.jpg";
import { Image } from "astro:assets";
import MapPin from "../../../assets/icons/MapPin.astro";
---

<section
  id="why-click-party"
  class="flex flex-col gap-4 lg:gap-6 [contain:layout_style_paint]"
  aria-labelledby="why-click-party-heading"
>
  <h3 class="text-primary">UBICACIÓN DEL EVENTO</h3>
  <div class="grid grid-cols-2 gap-6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3601.1847498813017!2d-103.37522519999999!3d25.4988843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fdcb93a1d0bb9%3A0x45634fc6dca065d1!2sQuinta%20San%20Arturo%20II!5e0!3m2!1ses!2smx!4v1779756596911!5m2!1ses!2smx"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      class="w-full h-full rounded-2xl"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="flex flex-col gap-2">
      <Image
        src={QuintaSanArturoII}
        alt="Quinta San Arturo II"
        class="object-cover w-full rounded-2xl"
        inferSize
      />
      <h3 class="font-bold text-xl">Quinta San Arturo II</h3>

      <p>C. Odontologos, M. Mercado de López Sánchez, 27294 Torreón, Coah.</p>

      <div class="flex">
        <Button
          label="Cómo llegar"
          href="https://maps.app.goo.gl/yg2ZDmpmE8LBQRH66"
          target="_blank"
          iconStrokeWidth={2}
          icon={MapPin}
        />
      </div>
    </div>
  </div>
</section>
