---
import { Image } from "astro:assets";
import { reasonsWhy } from "../../../data/ReasonsWhy";
import whyImage from "../../../assets/images/why.jpg";

const colorClasses = {
  green: "text-white bg-secondary",
  red: "text-white bg-primary",
  yellow: "text-white bg-yellow-brand",
};
---

<section
  id="why-click-party"
  class="grid grid-cols-6 gap-4 lg:gap-6 rounded-2xl [contain:layout_style_paint] bg-white/50 p-6"
  aria-labelledby="why-click-party-heading"
>
  <div class="col-span-6 lg:col-span-3 flex flex-col gap-2">
    <h3 class="text-primary font-bold col-span-2">¿POR QUÉ CREAMOS CLICK &amp; PARTY?</h3>
    <div class="grid grid-cols-2 gap-6">
      <Image
        src={whyImage}
        alt="Click & Party"
        class="h-full max-h-24 lg:max-h-none rounded-lg object-cover"
        inferSize
      />
    
      <h2>
        Click &amp; Party es una plataforma que te ayuda a encontrar los
        <span class="text-secondary">mejores servicios</span> para tu evento.
      </h2>

    </div>
  </div>

  {
    reasonsWhy.map((reason) => {
      const Icon = reason.icon;
      const iconColorClass =
        colorClasses[reason.color as keyof typeof colorClasses];

      return (
        <div class="col-span-2 lg:col-span-1 flex flex-col items-center gap-2 text-center">
          <Icon
            class:list={["h-10 w-10 rounded-full p-2", iconColorClass]}
          />
          <h5 class="font-semibold">{reason.title}</h5>
          <p>{reason.description}</p>
        </div>
      );
    })
  }
</section>
