---
import { startups,  } from '../../data/Startups';
import { categories } from '../../data/Categories';
import CategoryCard from '../CategoryCard.astro';
---

<section
  id="categories"
  class="flex flex-col gap-4 "
  aria-labelledby="categories-heading"
>
    <h3 class="text-lg font-bold text-neutral-900">
      Explora nuestras categorías
    </h3>
    <div class=" grid grid-cols-8 gap-4 ">
      {categories.map((category) => (
        <CategoryCard key={category.id} category={category} />
      ))}
    </div>
</section>
