---
import Button from "../inputs/Button.astro";
import MapPin from "../../assets/icons/MapPin.astro";
---

<section
  id="hero"
  class="h-72 flex items-center justify-between"
  aria-labelledby="hero-heading"
>
  <div class="flex flex-col justify-center gap-4 py-8 w-1/2">
    <div>
    <h1>Organiza tu evento</h1>
    <h1 class="text-primary">sin estrés</h1>
    </div>
    <p class="text-sm font-medium">
      Conecta con proveedores locales confiables, compara opciones y encuentra
      todo lo que necesitas para celebrar momentos inolvidables.
    </p>
    <div>
      <Button
        variant="filled"
        color="primary"
        href="#categorias"
        label="Explorar servicios"
      />
    </div>
    <div class="flex gap-2">
      <MapPin class="h-10 w-10 text-secondary" />
      <div class="flex flex-col text-sm font-semibold">
        <p>Servicios disponibles en</p>
        <p class="text-sm text-secondary">Torreón, Gómez Palacio</p>
      </div>
    </div>
  </div>
  <img 
    src="/src/assets/images/celebrating-group-friends.jpg" 
    alt="Hero" 
    class="rounded-lg h-full"
    style="
      mask-image: linear-gradient(
        to left,
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) 100%
      );
    "
  />
</section>
