---
import { Image } from "astro:assets";
import Button from "../inputs/Button.astro";
import MapPin from "../../assets/icons/MapPin.astro";
import hero from "../../assets/images/hero.jpg";
import Star from "../../assets/icons/Star.astro";
import Hearth from "../../assets/icons/Hearth.astro";
---

<section
  id="hero"
  class="relative flex items-center justify-between gap-4 md:gap-8"
  aria-labelledby="hero-heading"
>
  <div
    class="relative z-10 flex flex-col center gap-6 py-4 sm:py-8 w-full sm:w-[30%]"
  >
    <div>
      <h1>Organiza tu evento</h1>
      <h1 class="text-primary">sin estrés</h1>
    </div>
    <p class="font-medium">
      Conecta con proveedores locales confiables, compara opciones y encuentra
      todo lo que necesitas para celebrar momentos inolvidables.
    </p>
    <div class="flex gap-2">
      <MapPin class="h-10 w-10 text-secondary" />
      <div class="flex flex-col text-sm font-semibold">
        <p>Servicios disponibles en</p>
        <p class="text-secondary">Torreón, Gómez Palacio</p>
      </div>
    </div>
    <Button
      variant="filled"
      color="primary"
      href="#startups"
      label="Explorar servicios"
      class="w-52"
    />
  </div>
  <div
    class="absolute inset-x-0 top-0 -z-10 sm:relative sm:inset-auto sm:z-auto h-[500px] sm:h-full w-full overflow-hidden rounded-lg flex-1 flex flex-col"
  >
    <div
      class="hidden sm:block h-full"
      style="mask-image: linear-gradient(to right, transparent 0%, black 30%, black 100%);
           -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 100%);"
    >
      <Image
        src={hero}
        alt="Personas celebrando en un evento"
        class="h-full max-h-[25rem] sm:max-h-none w-full object-cover sm:opacity-100"
        inferSize
      />
    </div>

    <div
      class="hidden sm:flex flex-col absolute bg-white/80 rounded-lg p-4 bottom-4 right-4 w-64 gap-2"
    >
      <h4 class="text-center">Todo para tus eventos</h4>
      <div class="flex flex-col sm:flex-row justify-between gap-2">
        <div class="flex flex-col items-center gap-2">
          <Star
            class="h-10 w-10 text-secondary bg-white/50 shadow-md rounded-full p-2"
          />
          <p class="font-medium text-sm">Fácil</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <Hearth
            class="h-10 w-10 text-primary bg-white/50 shadow-md rounded-full p-2"
          />
          <p class="font-medium text-sm">Confiable</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <MapPin
            class="h-10 w-10 text-blue-brand bg-white/50 shadow-md rounded-full p-2"
          />
          <p class="font-medium text-sm">Local</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative z-10 flex sm:hidden flex-col bg-white/80 rounded-lg p-2 gap-2"
  >
    <h4 class="text-center">Todo para tus eventos</h4>
    <div class="flex flex-col sm:flex-row justify-between gap-2">
      <div class="flex flex-col items-center gap-2">
        <Star
          class="h-6 w-6 text-secondary bg-white/50 shadow-md rounded-full p-2"
        />
        <p>Fácil</p>
      </div>
      <div class="flex flex-col items-center gap-2">
        <Hearth
          class="h-6 w-6 text-primary bg-white/50 shadow-md rounded-full p-2"
        />
        <p>Confiable</p>
      </div>
      <div class="flex flex-col items-center gap-2">
        <MapPin
          class="h-6 w-6 text-blue-brand bg-white/50 shadow-md rounded-full p-2"
        />
        <p>Local</p>
      </div>
    </div>
  </div>
</section>
