---
import { Image } from "astro:assets";
import Button from "../inputs/Button.astro";
import EventCountdown from "../EventCountdown.astro";
import nextEvent from "../../assets/images/event.jpg";
---

<section
  id="next-event"
  class="grid grid-cols-9 gap-6 p-6 bg-primary/20 rounded-xl"
  aria-labelledby="next-event-heading"
>
  <div class="col-span-9 md:col-span-3  flex flex-col gap-4">
    <h3 class="text-primary">NUESTRO PRIMER EVENTO</h3>
    <h2>
      Un evento para conectar y celebrar a los <span class="text-secondary"
        >padres</span
      > en su día.
    </h2>
    <p>
      Acompañanos en nuestro evento inaugural donde emprendedores, proveedores y
      amantes de las fiestas se unen para celebrar el día de los padres.
    </p>
    <Button
      variant="filled"
      color="primary"
      label="Proximamente"
      disabled
    />
  </div>
  <div class="col-span-9 md:col-span-4 flex items-center">
    <EventCountdown
      targetDate="2026-06-21T16:00:00-06:00"
      dateLabel="21 de junio, 2026"
      timeLabel="4:00 PM"
      locationLabel="Torreón, Coahuila"
      heading="Faltan para nuestro evento"
    />
  </div>
  <div class="col-span-9 md:col-span-2 [contain:layout_style_paint]">
    <Image
      src={nextEvent}
      alt="Next Event"
      class="max-h-48 md:max-h-none h-full w-full rounded-lg object-cover"
      inferSize
    />
  </div>
</section>
