---
import BaseLayout from "../layouts/BaseLayout.astro";
import Us from "../components/sections/info/Us.astro";
import FAQ from "../components/sections/info/FAQ.astro";
---

<BaseLayout
  title="Nosotros | Click & Party"
  description="Conoce Click & Party, contáctanos, consulta preguntas frecuentes y revisa nuestra política de privacidad y términos."
>
  <div class="flex flex-col py-8 gap-8">
    <Us />
    <FAQ />
  </div>
</BaseLayout>
