---
import { type CategoryColor, colorClasses } from "../utils/colors";

export interface ActivityCardProps {
  activity: {
    id: number;
    name: string;
    icon: any;
    color: CategoryColor;
    description: string;
  };
}

const { activity } = Astro.props;
const Icon = activity.icon;
const color = activity.color as CategoryColor;


---

<div class="group w-40 min-w-40 rounded-2xl overflow-hidden bg-white shadow-md p-4 flex flex-col items-center text-center gap-2">
    <Icon class:list={["p-3 rounded-full aspect-square w-16",colorClasses[color]]} />
  <h5 class="flex font-semibold h-12 items-center">{activity.name}</h5>
  <p> {activity.description}</p>
</div>
