---
import { colorClasses, type CategoryColor } from "../utils/colors";

export interface CategoryCardProps {
  category: {
    id: number;
    name: string;
    icon: any;
    color: CategoryColor;
    url: string;
  };
}

const { category } = Astro.props;
const Icon = category.icon;

---

<!-- <a href={category.url} class="flex flex-col gap-2 items-center justify-center cursor-pointer"> -->
<div class="flex flex-col gap-2 items-center justify-center w-32">
  <span
    class:list={[
      "flex flex-col items-center justify-center rounded-full p-3",
      colorClasses[category.color as CategoryColor],
    ]}
  >
    <Icon class="h-6 sm:h-8 w-6 sm:w-8" />
  </span>
  <h5 class="text-center  font-semibold">{category.name}</h5>
</div>
