---
import '../styles/global.css';
import Header from './Header.astro';
import Footer from './Footer.astro';

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Click & Party — eventos y experiencias."
    />
    <title>Click & Party</title>
  </head>
  <body class="bg-white antialiased">
  <Header />
    <main class="mx-auto max-w-7xl flex flex-col gap-6 overflow-hidden px-4 sm:px-8">
      <h1 class="sr-only">Click &amp; Party</h1>
      <slot />
    </main>
   <Footer />
  </body>
</html>
