---
declare global {
  interface Window {
    dataLayer: unknown[]; // o Array<unknown>
  }
}

import "../styles/global.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import BG from "../assets/icons/BG.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Click & Party",
  description = "Click & Party — eventos y experiencias.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VWG9E24797"
    ></script>

    <script is:inline>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }

      gtag("js", new Date());

      gtag("config", "G-VWG9E24797", {
        send_page_view: true,
      });
    </script>
    <!-- Google tag (gtag.js) -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <script is:inline>
      history.scrollRestoration = "manual";
    </script>
    <ViewTransitions />
  </head>
  <body class="antialiased">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5JMNVBH3"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <BG
      class="pointer-events-none cursor-not-allowed fixed inset-0 -z-10 h-full w-full block"
      aria-hidden="true"
    />
    <div id="page-scroll" class="relative bg-white-brand/50">
      <Header />
      <main
        class="relative mx-auto flex min-h-screen max-w-7xl flex-col gap-6 px-4 pb-4 sm:px-8"
      >
        <slot />
      </main>
      <Footer />
    </div>

    <script>
      import { initPageScroll } from "../scripts/page-scroll.ts";
      initPageScroll();
    </script>
  </body>
</html>
