---
import Button from "../../inputs/Button.astro";
import MapPin from "../../../assets/icons/MapPin.astro";
import heroVideo from "../../../assets/video/video.mp4";
import Star from "../../../assets/icons/Star.astro";
import Hearth from "../../../assets/icons/Hearth.astro";
---

<section
  id="hero"
  class="relative flex min-h-[18rem] sm:min-h-[28rem] items-center justify-between gap-4 sm:gap-8 max-h-[50rem] overflow-hidden"
  aria-labelledby="hero-heading"
>
  <div
    class="relative z-10 flex flex-col center gap-6 py-4 sm:py-8 w-1/2 sm:w-[35%] h-full"
  >
    <h1>
      Organiza tu evento
      <span class="text-secondary">sin estrés</span>
    </h1>
    <p class="font-medium">
      Conecta con proveedores, compara opciones y encuentra todo lo que necesitas para celebrar momentos inolvidables.
    </p>
    <p class="font-medium">
      Todo para tu evento en un solo lugar: descubre servicios, organiza detalles y ahorra tiempo mientras planeas una celebración perfecta.
    </p>
    <div class="flex gap-2">
      <MapPin class="h-10 w-10 text-secondary" />
      <div class="flex flex-col text-sm font-semibold">
        <p>Servicios disponibles en</p>
        <p class="text-secondary">Torreón, Gómez Palacio</p>
      </div>
    </div>
    <Button
      variant="filled"
      color="primary"
      href="#startups"
      label="Explorar servicios"
      class="w-52"
    />
  </div>
  <div
    class="absolute inset-0  overflow-hidden"
    aria-hidden="true"
  >
    <div
      class="relative h-full min-h-[18rem] sm:min-h-[28rem] [mask-image:linear-gradient(to_right,transparent_25%,black_50%,black_100%)] [-webkit-mask-image:linear-gradient(to_right,transparent_25%,black_50%,black_100%)]"
    >
      <video
        autoplay
        muted
        loop
        playsinline
        preload="auto"
        src={heroVideo}
        class="h-full w-full object-cover object-center"
      />
    </div>
  </div>
  <div
    class="absolute z-10 flex flex-col bg-white/80 rounded-lg bottom-4 right-4 p-2 sm:p-6 gap-2 w-24 sm:w-64"
  >
    <h4 class="text-center">Todo para tus eventos</h4>
    <div class="flex flex-col sm:flex-row justify-between gap-2">
      <div class="flex flex-col items-center gap-2">
        <Star
          class="h-10 w-10 text-secondary bg-white/50 shadow-md rounded-full p-3 sm:p-2"
        />
        <p>Fácil</p>
      </div>
      <div class="flex flex-col items-center gap-2">
        <Hearth
          class="h-10 w-10 text-primary bg-white/50 shadow-md rounded-full p-3 sm:p-2"
        />
        <p>Confiable</p>
      </div>
      <div class="flex flex-col items-center gap-2">
        <MapPin
          class="h-10 w-10 text-blue-brand bg-white/50 shadow-md rounded-full p-3 sm:p-2"
        />
        <p>Local</p>
      </div>
    </div>
  </div>
</section>
